body {
    font-size: 18px;
    max-width: 1200px;
    margin: auto;
    background-color: #f8f9fa;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}
