<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>این صفحه مقاله است</h1>
    </header>
    
    <main>
        <p>{{ article.content }}</p>
        <a href="/">بازگشت به صفحه اصلی</a>
    </main>

    <footer>
        <p>تمامی حقوق محفوظ است &copy; 2025</p>
    </footer>
</body>
</html>